*{
    border: 0;
    margin: 0;
    padding: 0;
}


#Hero_Place {
    position: relative;
    width: 100%;
    overflow: hidden;
}


#Hero_Website {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: auto;
}

.Hero_Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color-light);
    font-family: var( --font-family-poppins);
    width: auto;
    height: auto;
    text-align: center;
}

.Hero_Text > h1 {
    font-size: var(--font-heading1-Desk);
    line-height: var(--line-height-heading1-Desk);
    word-spacing: 1rem;
    letter-spacing: 0.1rem;
}

.Hero_Text > h2 {
    font-size: var(--font-heading2-Desk);
    line-height: var(--line-height-heading2-Desk);
    word-spacing: 0.75rem;
    letter-spacing: 0.15rem;

}

.grid_Container_Home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px;
}

.grid_Container_Home > article {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}

.section_image {
    flex: 1;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.section_image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5%;
}

.section_text {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    padding: 5%;
    position: relative;
}

.section_text > h5 {
    text-align: center;
    font-size: var( --font-heading5-Desk);
    font-family: var( --font-family-poppins);
    margin: 0 5% 5% 5%;
}

.section_text > p {
    text-align: left;
    font-size: var(--font-text-regular);
    font-family: var(--font-family-raleway);
}

.section_text > button {
    text-align: center;
    font-size: var(--font-text-regular);
    font-family: var(--font-family-raleway);
    background-color: var(--accent-color-1);
    position: absolute;
    padding: 10px;
    bottom: 40px;
    right: 40px;
    width: 30%;
    transition: background-color 0.5s ease; 
    border-radius: 10px;
}

.section_text > button:hover {
    background-color: var( --accent-color-2);
}

.section_text > button > a {
    text-decoration: none;
    background: transparent;
    color: var(--primary-color-dark);
}